@import url('https://fonts.googleapis.com/css2?family=Bayon&family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --var-fontPrimary: 'Bayon', sans-serif;
    --var-fontSecondary: 'Poppins', sans-serif;

    --var-PrimaryBlack: #232323;
    --var-PrimaryWhite: #F7EFE6;
    --var-Primary:#F4F3E7;
    --var-PrimaryPink: #F05B72;
    --var-SecondaryYellow: #FFD400;
    --var-SecondaryOrange: #F68D61;
    --var-SecondaryTurquoise: #78CDD1;
    --var-SecondaryBlue: #84C2Ea;
    --var-CardsMenu: #E8DCC6;
}

body {
    font-family: var(--var-fontSecondary);
    background-color: var(--var-SecondaryOrange);
}

.alinhamentoGeral {
    width: min(140rem, 100%);
}

header {
    width: 100%;
    position: absolute;
    z-index: 2;
}

nav {
    padding: 5rem 0 0 0;
    display: flex;
    justify-content: space-around;
    gap: 25rem;
    
}

.logo {
    display: flex;
    align-items: center;
}

.logo a img {
    width: 18rem;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.navigation li {
    font-size: 1.5rem;
    list-style: none;
    text-decoration: none;
}

.navigation li a {
    text-decoration: none;
    color: var(--var-PrimaryWhite);
    font-family: var(--var-fontSecondary);
    text-transform: uppercase;
    font-weight: 600;
    
}

.navigation :nth-child(5) {
    padding: .5rem 2rem;
    border: 2px solid var(--var-PrimaryWhite);
    border-radius: 5rem
}

/* ------- home ------------ */

section {
    display: flex;
    justify-content: center;
}

.home {
    position: relative;
    max-width: 100vw;
    height: 100vh;
    /* background-image: url(assets/bg-inicio.png);
    background-size: cover; */
    /* filter: brightness(20%); */
    overflow: hidden;
    
}

.home > .alinhamentoGeral {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: var(--var-fontSecondary);
    font-size: 10rem;
    color: white;
    font-weight: 600;
}

.container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;

}

.container-home > p {
    color: var(--var-PrimaryWhite);
    font-size: 2.2rem;
    
}

.videohome {
   position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    size: cover;
    min-height: 100%;
    min-width: 100%;
    width: 100vw;
}

.home::before {
    position: absolute;
    content: "";
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.295);
    top: 0;
    left: 0;
    z-index: 1;
    
}

/* ---------- menu -------------- */

.menu {
    display: flex;
    justify-content: center;
    background-color: var(--var-Primary);
}

.menu > .alinhamentoGeral {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 6rem;
}

h2 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.menu > .alinhamentoGeral p:nth-child(2){
    font-size: 1.3rem;
    padding: .5rem 2rem;
    background-color: var(--var-PrimaryPink);
    border-radius: 5rem;
    color: white;
}

.menu-amostra {
    display: flex;
    justify-content: space-between;
}

.card-menu {
    width: 32%;
    border: 1px solid black;
    height: 55rem;
}

.box-img {
    width: 100%;
    background-color: var(--var-CardsMenu);
    border-radius: 2rem;
}

.card-menu img {
    width: 100%;
    
}